.banner {
  height 300px;
  display flex;
  align-items center;
  justify-content center;
  align-content center;
  text-align center;
}

.banner_h {
  color #2c3e50;
  font-size 48px;
  font-weight normal;
}
.banner_subh {
  color #2c3e50;
  font-size 18px;
  font-weight lighter;
}

.laptop{
  img{
    width 70%;
  }
}