.ButtonsBlock{
  height 40vh;
  justify-content center;
  margin-left: 60px;
  margin-right: 60px;
  display flex;
  flex-direction column;
}
.ButtonsBlock--down{
  margin-left: 0;
  margin-right: 0;
  height 40px;
  justify-content center;
  padding-top 0;
}