.ImageButton--correct-block{
  flex-basis 50%;
  justify-content flex-end;
  display flex;
  padding-right 10px;

  .btn{
    &:hover{
      box-shadow: none;
    }
  }
  .btn-flat{
    color white;
    font-family Roboto, sans-serif;
    font-weight 500;
    border-radius 3px;
    &:hover{
      box-shadow none;
      background-color rgba(0, 0, 0, 0.16);
    }
  }
}
