.ImageButton--correct-block{
  color: white;
  margin-top 6px;
  box-sizing: border-box;
  border: solid 1px white;
  border-radius: 2px;
  &:hover{
    color: #282828;
    background-color rgba(255, 255, 255, 0.55);
  }
}
.ImageButton__FlatButton{

}