.ImagePreview {
  background-color darkblue;
  display flex;
  flex 1;
  flex-direction column;
  width 100%
  min-height 0;
  transition: min-height 2s ease-out, background-color 2s, transform 2s;

}

.ImagePreview--active {

  min-height: 32.6vh;
}