

.PreviewPanel {
  border 2px solid rgba(0, 0, 0, 0.1);
  //background-color rgba(0, 0, 0, 0.6)
  border-radius 3px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin 0 20px;
  margin-top 40px;
  width 40%;
  display: flex;
  flex-direction: column;
}
.PreviewPanel--larger {
 @extend .PreviewPanel
  width 60%;
}

@media (max-width: 600px) {
  .PreviewPanel {
    margin 0 6px;
    margin-top 40px;
    width 100%;
  }
}