.Range{
  margin 20px;
  padding 10px;
  border 1px rgba(0, 0, 0, 0.1) solid;
  background rgba(0, 0, 0, 0.02)
  justify-content center;
  align-content center;
  align-items center;
  display flex;
  height 30px;

  .icon{
    padding 10px;
    flex-basis 5%;
  }
  .Slider{
    padding-top 25px;
    flex-basis 80%;
  }
}

.label{
  color black;
  flex-basis 23%;
  text-align: left;
  &--disabled{
    @extend .label
    color gray;
  }
}

