.Range{
  margin 20px;
  padding 10px;
  border 1px rgba(0, 0, 0, 0.1) solid;
  background rgba(0, 0, 0, 0.02)
  justify-content center;
  align-content center;
  align-items center;
  display flex;
  height 30px;

  .label--disabled{
    color gray;
  }
  .label{
    color black;
  }
  .value{
    padding-left: 5px;
    flex-basis 5%;
  }
  div{
    flex-basis 20%;
  }
  .Slider{
    padding-top 25px;
    flex-basis 80%;
  }
}