.StatusBar {
  width: 100%;
  margin-top: auto;
  color black;
  font-family Roboto, sans-serif;
  font-kerning 10ch;
  //font-weight bold;
  padding 5px;
  display: flex; // set the context
  flex: 1; // flex an equal amt of space yo!
  align-items: flex-end; // make that shit sit on the bottom dawg.
  justify-content: center; // center the text horizontally suckah. the poor man's text-align: center
  text-align center;
  line-height 20px;
  font-size 11pt;
}
