.StatusBar {

  height: 100%;
  width: 100%;
  margin-top: auto;
  color black;
  font-family Roboto, sans-serif;
  font-kerning 10ch;
  //font-weight bold;
  text-align center;
  line-height 20px;
  font-size 11pt;
}