.Thumbnails {
  background #f3f2f4;
  margin 10px;
  margin-top 40px;
  justify-content center;
  display flex;
  flex-wrap wrap;
}
@media (max-width: 600px) {
  .Thumbnails {
    background #f3f2f4;
    margin 5px;
    margin-top 40px;
    justify-content center;
    display flex;
    flex-wrap wrap;
  }
}



