@import "base/normalize.styl"

@import "components/Thumbnails.styl"
@import "components/Thumbnail.styl"
@import "components/PreviewPanel.styl"
@import "components/ArrowButton.styl";
@import "components/UploadProgress.styl"
@import "components/Range.styl";
@import "components/EditPanel.styl";
@import "components/StatusBar.styl";
@import "components/ImagePreview.styl";
@import "components/ButtonsBlock.styl";
@import "components/ImageButton.styl";
@import "components/Footer.styl";

@import "pages/index.styl";

@lost flexbox flex;

.Footer {
  img {
    width 100%;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding 0;
  margin 0;
  background-color #fafafa
}

/**************Helpers*******************/

.flexbox-container {
  justify-content center;
  flex-wrap wrap;
  display: flex;
}

.editor-background {
  background-image url(../images/background.jpg);
  padding-bottom 40px;
  background-color #ffffff;
}

.center {
  text-align center;
}

.hidden {
  display none;
  padding 0;
  margin 0;
  border 0;
}



