@import "base.styl"
@import "normalize.styl"
@lost flexbox flex;

@import "components/Thumbnails.styl"
@import "components/Thumbnail.styl"
@import "components/ImageUploader.styl"
@import "components/ImageUploaderCard.styl"
@import "components/Range.styl";
@import "components/EditPanel.styl";
@import "components/StatusBar.styl";
@import "components/ImagePreview.styl";
@import "components/ButtonsBlock.styl";

body {
  padding 0;
  margin 0;
  background-color #fafafa
}
* { padding: 0; margin: 0; }
html, body {
  min-height: 100% !important;
  height: 100%;
}

/**************Helpers*******************/

.flexbox-container {
  justify-content center;
  flex-wrap wrap;
  display: flex;
}

.center {
  text-align center;
}

.hidden {
  background-color #0b97c4;
  display none;
  padding 0;
  margin 0;
  border 0;
}


