@import "base.styl"
@import "normalize.styl"
@lost flexbox flex;

@import "components/Thumbnails.styl"
@import "components/Thumbnail.styl"
@import "components/ImageUploader.styl"
@import "components/ImageUploaderCard.styl"
@import "components/Range.styl";
@import "components/EditPanel.styl";
@import "components/StatusBar.styl";
@import "components/ImagePreview.styl";

body {
  padding 0;
  margin 0;
  background-color #fafafa
}









/**************Helpers*******************/

.flexbox-container {
  justify-content center;
  flex-wrap wrap;
  display: flex;
}

.center {
  text-align center;
}


