@import "base.styl"
@import "normalize.styl"
@lost flexbox flex;

body {
  padding 0;
  margin 0;
  background-color #fafafa
}

.header {
  background: #00c6ff; /* fallback for old browsers */
  background: linear-gradient(50deg, #616161, #62534c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height 60px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.11);
}

.Card_ImageUploader {
  margin 0 20px;
  margin-top 40px;
  width: 450px;
  z-index 3;
  min-width 60px;
  min-height 200px;
}

.ImageUploader {
  position: relative
  display flex;
  flex-direction: column;
  justify-content center;
  align-items center;
  align-content center;
  min-height 200px;
  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  //background-color #fafafa;
  border-radius: 2px;
  //background-color: #fff5f3;

}
.ImagePreview{
    width 100%;
    height 300px;
    display flex;
    flex-direction: column;
    justify-content center;
    align-items center;
    align-content center;

}
.ImageUploader_previewImage {
  text-align center
  width 100%;
  //max-height 80vh;
}

.ImageUploader_StatusBar {

  height: 100%;
  width: 100%;
  margin-top: auto;
  color white;
  text-align center;
  background:#00BCD4;

  line-height 20px;
  font-size 11pt;

  .status {
    color white;
    font-size 16pt;
  }
}

.Thumbnails {
  background #f3f2f4;
  margin 10px;
  margin-top 40px;
  justify-content center;
  display flex;
  flex-wrap wrap;
}

.Thumbnail {
  //cursor: pointer;
  margin 5px;
  overflow hidden;
  //background-color #77908f;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  //background-color #fafafa
  border 3px;
  width 400px;
}

.Thumbnail_img {
  cursor: pointer;
  max-width 300px;
}

.EditPanel {
  padding 20px;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin 0 20px;
  margin-top 40px;
  width 53%;
  min-width 60px;
  min-height 200px;
  background-color #ffffff;
}

/**************Helpers*******************/

.flexbox-container {
  justify-content center;
  flex-wrap wrap;
  display: flex;
}

.center {
  text-align center;
}
