article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ArrowButton button {
  background-color: transparent;
  border-radius: 30px;
}
.ButtonsBlock {
  height: 40vh;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.ButtonsBlock--down {
  margin-left: 0;
  margin-right: 0;
  height: 40px;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 0;
}
.EditPanel,
.EditPanel--larger,
.EditPanel--smaller {
  padding: 5px;
  border-radius: 1px;
  box-shadow: rgba(0,0,0,0.118) 0 1px 6px, rgba(0,0,0,0.118) 0px 1px 4px;
  margin: 0 5px;
  margin-top: 40px;
  width: 43%;
  min-width: 520px;
  min-height: 200px;
  background-color: #fff;
  float: right;
}
.EditPanel--larger {
  width: 60%;
}
.EditPanel--smaller {
  width: 40%;
}
@media (max-width: 600px) {
  .EditPanel {
    display: none;
  }
}
.Footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 80px;
}
.Footer .Footer-left p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}
.Footer p.Footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
}
.Footer p.Footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.Footer .Footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.Footer .Footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}
@media (max-width: 600px) {
  .Footer .Footer-left,
  .Footer .Footer-right {
    text-align: center;
  }
  .Footer .Footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .Footer .Footer-left p.Footer-links {
    line-height: 1.8;
  }
}
.btn-circle {
  margin: 5px;
  padding: 1px;
}
.btn-circle i {
  color: #fff;
  font-size: 35px;
}
.ImageButton--correct-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}
.ImageButton--correct-block .btn:hover {
  box-shadow: none;
}
.ImageButton--correct-block .btn-flat {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border-radius: 3px;
}
.ImageButton--correct-block .btn-flat:hover {
  box-shadow: none;
  background-color: rgba(0,0,0,0.16);
}
.ImagePreview {
  margin: 0 20px;
  margin-top: 40px;
  width: 70%;
  height: 600px;
  background-color: #f4f4f4;
}
.Range {
  margin: 20px;
  padding: 10px;
  border: 1px rgba(0,0,0,0.1) solid;
  background: rgba(0,0,0,0.02);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}
.Range .icon {
  padding: 10px;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}
.label,
.label--disabled {
  color: #000;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: left;
}
.label--disabled,
.label--disabled--disabled {
  color: #808080;
}
.StatusBar {
  width: 100%;
  margin-top: auto;
  color: #000;
  font-family: Roboto, sans-serif;
  font-kerning: 10ch;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  line-height: 20px;
  font-size: 11pt;
}
.Thumbnail {
  margin: 5px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 3px;
  width: 300px;
}
.Thumbnail .Thumbnail_img {
  cursor: pointer;
  max-width: 300px;
}
@media (max-width: 600px) {
  .Thumbnail {
    width: 450px;
  }
  .Thumbnail .Thumbnail_img {
    cursor: pointer;
    max-width: 450px;
  }
}
.Thumbnails {
  background: #f3f2f4;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 600px) {
  .Thumbnails {
    background: #f3f2f4;
    margin: 5px;
    margin-top: 40px;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.TopBar {
  background-color: #00bcd4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 65px;
  color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
}
.TopBar h5 {
  padding-left: 30px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.TopBar i {
  font-size: 60px;
  color: #f0f0f0;
  width: 30px;
}
.btn--white {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: #fff !important;
}
.btn--white:hover {
  background-color: #fff;
  font-weight: 500;
}
.btn--white:active {
  background-color: #fff;
  font-weight: 500;
}
.banner {
  height: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
.banner_h {
  color: #2c3e50;
  font-size: 48px;
  font-weight: normal;
}
.banner_subh {
  color: #2c3e50;
  font-size: 18px;
  font-weight: lighter;
}
.laptop img {
  width: 70%;
}
.Footer img {
  width: 100%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}
/**************Helpers*******************/
.flexbox-container {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
}
.editor-background {
  background-image: url("../images/background.jpg");
  padding-bottom: 40px;
  background-color: #fff;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
  padding: 0;
  margin: 0;
  border: 0;
}
